.body{
    background-color: 
    #fff8e0;
    display:flex;
    justify-content: space-around;
    margin: 50px;

}

.name{
    font-family: Old London Alternate;
    color:black;
    font-size:50px;
    text-align: center;
}

ul{
    font-family:old london alternate;
    font-size: 30px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:black;
    margin: 50px;
  
}

 ul a:hover{
    color:#dd5444;
    cursor: pointer;
 } 
 
 .styled {
    display: block;
    line-height: 2.5;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-family: old london alternate;
    border-radius: 10px;
    background-color: #fff8e0;
    font-size: 20px;
    white-space: nowrap;
   
  }
  
  
  .styled:hover {
    color: #dd5444;
    cursor: pointer;
    white-space: nowrap;
  }

 .foot{
    font-family:old london alternate;
    font-size: 30px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:black;
    margin-bottom: 50px;
    margin-top: 50px;
}
footer a:hover{
    color:#dd5444;
    display: flex;
    justify-content: center;
    cursor: pointer;
 }

 .socials{
display: flex;
text-align: center;
align-items: center;
}

.myskills{
    display:flex;
    justify-content: center;
    font-size: 150px;
    font-family: nikeflix outline; 
    color: #dd5444;
    z-index: 6;
   margin: 0;
   padding-top: 20px;

}
.skill1{
    font-size: 30px;
   display: flex;
   align-items: center;
    align-self: center;
    align-content: center;
    font-family: Old London alternate;
    margin:auto;
    padding: 30px;
}

 

.skillp{
    font-size: 20px;
    display: flex;
    align-content: center;
    font-family: Din condensed;
    width:90%;
    margin:20px;
}




.skillp2{
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: Din condensed;
    width:90%; 
    padding: 30px;
}


.skillblurb{
    display:flex;
    justify-content: center;
    font-size: 60px;
    font-family: Old london alternate; 
    
}


#stair2{
    align-items: center;
}
.styled2 {
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: black;
    font-family: old london alternate;
    border-radius: 10px;
    background-color: #fff8e0;
    font-size: 25px;
    flex-wrap: wrap-reverse;
   
  }
  
  
  .styled2:hover {
    color: rgba(255, 0, 0, 1);
    border-color: red;
    cursor: pointer;
  }

.link{
    text-decoration: none;
   color: black;
}
.row a:hover{
    color:#dd5444;
    cursor: pointer;
     } 


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color:#dd5444;
    color: #fff8e0;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: Din condensed;
    font-size: 20px;
    padding: 15px;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .copy{
    font-family: Din condensed;
    font-size: 15px;
    background-color: #fbf4dc;
    border-radius: 5px;
    border:#dd5444 solid;
    color: #dd5444;
    padding-left: 15px;
    padding-right: 15px;
  }
  .red{
  
    width:10%;
    align-items: left;
   position: relative;
   }

  .red2{
  display: flex;
  width:10%;
  right: 10;
  margin: 0;
 }
 .row{
    display: flex;
    bottom: 10px;
   padding-inline: 30px;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
  position: relative;
   top: 10px;
   
   
 }
 .point1{
    padding-top: 35px;
    margin: 0;
 }
 .foot{
    font-family:old london alternate;
    font-size: 30px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:black;
    margin-bottom: 50px;
    margin-top: 50px;
}
footer a:hover{
    color:#dd5444;
    display: flex;
    justify-content: center;
 }
 .socials{
display: flex;
text-align: center;
align-items: center;
}

.link{
    text-decoration: none;
   color: black;
}
